{% extends 'base.html' %}
{% load mptt_tags %}

{% block content %}
    {% for post in object_list %}
        <div class="panel panel-default post">
            <div class="panel-heading">
                <h1 ><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            </div>
            <div class="panel-body">
                    <p>{{ post.text|linebreaksbr }}</p>
            </div>
                <div class="date">
                    {{ post.created_date }}
                </div>
                {% recursetree answer_comments %}
                <div style="margin: 0 50px 0 50px">
                    {% for comment in post.comments %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title"><p>{{ comment.author }}</p></h3>
                              </div>
                            <div class="panel-body">
                                <p>{{ comment.text_massage }}</p>
                                <p>{{ comment.date }}</p>
                            </div>
                            {% if user.is_authenticated %}
                                <form  action = '{% url "create_comment" post_pk=post.pk %}' METHOD="POST">
                                    {{ form.as_p }}
                                    <input type="hidden" name="comment_pk" value="{{ comment.pk }}">
                                    {% csrf_token %}
                                    <button type="submit">Отправить</button>
                                 </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endrecursetree %}
                </div>
                {% if user.is_authenticated %}
                    <form action = '{% url "create_comment" post_pk=post.pk %}' METHOD="POST">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button type="submit">Отправить</button>
                    </form>
                {% endif %}
        </div>
    {% endfor %}
    <form action = '{% url "post_add" %}' METHOD="POST">
    {{form.as_p}}
        {%csrf_token%}
        <button type="submit">Отправить</button>
    </form>
{% endblock %}
